*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
form
{
    background-color: aqua;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
label
{
    font-size: 22px;
    text-transform: capitalize;
}
button
{
    padding: 6px;
    font-size: 20px;
    text-transform: capitalize;
}
input
{
    font-size: 18px;
}
nav
{
    padding: 10px;
    background-color: rgb(248, 216, 174);
}
nav ul
{
    display: flex; 
    justify-content: space-around;
}
ul li a 
{
    font-size: 20px;
    color: blue;
    text-transform: capitalize;
}